.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.875em;

    animation: entering 850ms ease-out;

    &__h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 1em 0;
    }

    &__h3 {
        font-size: 1rem;
        font-weight: 300;
        margin: 1.5em 0 2em;
    }

    @include desktop {
        flex-direction: row;
        align-items: center;
        padding: 0 3.75em;
        margin-bottom: 3.25em;

        &__column {
            width: 35%;
        }
        &__column:first-of-type {
            margin-right: 2.5em;
        }
    }
}

@keyframes entering {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}