.album {
    display: grid;

    &__card {
        display: flex;
        flex-direction: column;
        padding: 0 1.25em;
        z-index: 1;
    }

    &__link {
        padding: 1em 1em 0.625em;
        margin: 1em 0;
        align-self: flex-start;
        text-decoration: none;
        color: var(--dark-color);
    }

    &__h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
    }

    &__h3 {
        font-size: 1rem;
        font-weight: 300;
        margin: 0.5em 0 0;
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        padding: 1.25em;
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
        padding: 1.25em;
    }
}