.home {
  animation: entering 850ms ease-out;

  &__main {
    position: relative;
  }

  &__section {
    display: flex;
    flex-direction: column;
    padding: 3.75rem;
    align-items: center;
    text-align: center;
    isolation: isolate;
    background-color: var(--gray-color);
    h3 {
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 4rem;
      z-index: 1;
    }
    p {
      font-size: 1.125rem;
      font-weight: 300;
      z-index: 1;
    }

    @include desktop {
      padding: 3.75rem 25%;
    }
  }
}

@keyframes entering {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
