.realizations {
    display: grid;
    animation: entering 850ms ease-out;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        padding: 1.25em;
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
        padding: 1.25em;
    }
}

@keyframes entering {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}