.button {
  width: 11.25rem;
  padding: 1.219em 0.594em;
  border: 1px transparent;
  background-color: transparent;
  color: var(--dark-color);
  cursor: pointer;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 50%;
    left: -1px;
    background-color: var(--body-color);
    border: 1px solid var(--dark-color);
    z-index: -1;
    transition: transform 200ms ease-in-out;
  }
  &::before {
    top: 0.3125em;
    border-bottom: none;
  }
  &::after {
    bottom: 0.3125em;
    border-top: none;
  }

  &:hover,
  &:focus {
    &::before {
      transform: translateY(-0.3125em);
    }
    &::after {
      transform: translateY(0.3125em);
    }
  }

  &--primary {
    &::before,
    &::after {
      border-color: var(--primary-color);
      background-color: var(--primary-color);
    }
  }
}
