.album-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 15%;
    background-color: var(--gray-color);
}

.album-image {
    padding: 0.625em;
    img {
        padding: 0.625em;
    }
    // &--center {
    //     // transform: scale(1.15);
    // }

}

@include desktop {
    .album-container {
        flex-direction: row;
        padding: 8rem 4.375rem;
    }

    .album-image {
        &--center {
            width: 75%;
        }
    }
}